In [1]:
import pandas as pd

In [14]:
data1 = {
    'id':[1,2,3,4,5,6,7],
    'dado':['a', 'b', 'c', 'd', 'a', 'c', 'b']
}
df1 = pd.DataFrame(data1, columns = ['id', 'dado'])
df1.head(10)

   id dado
0   1    a
1   2    b
2   3    c
3   4    d
4   5    a
5   6    c
6   7    b

In [15]:
data2 = {
    'info':['letra a', 'letra b', 'letra c', 'letra d', 'letra h'],
    'dados':['a', 'b', 'c', 'd', 'h']
}
df2 = pd.DataFrame(data2, columns = ['info', 'dados'])
df2.head(10)

      info dados
0  letra a     a
1  letra b     b
2  letra c     c
3  letra d     d
4  letra h     h

In [20]:
dfM = pd.merge(df1, df2, left_on='dado', right_on='dados', how='inner')
dfM.head(10)

   id dado     info dados
0   1    a  letra a     a
1   5    a  letra a     a
2   2    b  letra b     b
3   7    b  letra b     b
4   3    c  letra c     c
5   6    c  letra c     c
6   4    d  letra d     d